.navbar{
    background-color: #f0eeed;
    height: auto;
    display: flex;
    justify-content: center;
}


.nav-brand img{
    width: 250px;
    height: auto;
}  
.coll{
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex: 2;


}
.navbar .nav-link {
    text-decoration: none;
    color:  #18122B;
    font-family: "Edu NSW ACT Foundation";
    padding: 10px;

    font-size: 1.5rem;
    align-items: center;
  }
  
  .navbar .nav-link:hover {
    color:#45347d ;
  }
.sub{
    display: flex;
    justify-content: center;
    
    }
.sub button {
    padding: 5px;
    margin: 5px;
    width: 150px;
    height: 50px;
    border-radius:30px;
    background-color: #a08ae8;
    color: white;
    border-style: none;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    transition: 0.5s;
}
.sub button:hover{
    transform: scale(1.05);
    background-color: #a08ae8;
}

.toggler{
    margin: 5px;
    border: none;
    text-decoration: none;
    outline: none;
}
.toggler:focus{
    outline: none;
}